.artist{
    height: 220px;
}

.marginTop{
    margin-top: 30px;
}

.bgColor{
    background: #222;
    color: #ffffff !important;
    font-weight: bold;
    font-size: medium;
}

.concertImages {
    width: 512px;
    height: 288px;
}

/*
- Sitzplankarte -> Check
- Vorverkaufsstellen 
- Integration GMAPS (Anzeige Venue)
- Verkaufspreise -> Check
- Weiterleitung auf die Ticketmasterseite -> Check
 */